
@{
    ViewBag.Title = "Index";
}

<h2>Asp MVC</h2>
<p>C# com Asp Net MVC</p>

<p>@ViewData["PersonId"]</p>
<p>@ViewData["Name"]</p>
<p>@ViewData["Type"]</p>

<p>----------------------</p>

<p>@ViewBag.personId</p>
<p>@ViewBag.name</p>
<p>@ViewBag.type</p>

    

